/***police***/
/***color***/
/***box-shadow***/
/***border-radius***/
/***title padding***/
/***title font size***/
/***mixins pages of the menu***/
/*border*/
/*.border {
	border: 3px solid black;
    margin: 1px;
}

.red {
    border-color: red;
}

.green {
    border-color: green;
}

.blue {
    border-color: blue;
}

.orange {
    border-color:orange;
}

.magenta {
    border-color: darkmagenta;
}
*/
/*--main style--*/
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", "cursive";
}

button {
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 15px 50px 15px 50px;
  transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: linear-gradient(#ff98e2, #a36fe1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}
@media all and (min-width: 992px) {
  button:hover {
    transform: scale(1.05);
  }
}

.card {
  margin: 0px 0px 25px 0px;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 250ms ease-in-out;
}
@media all and (min-width: 768px) {
  .card {
    width: 250px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}
@media all and (min-width: 992px) {
  .card:hover {
    transform: scale(1.05);
  }
}
.card__image {
  position: relative;
  height: 190px;
}
.card__image__button {
  position: absolute;
  font-weight: bold;
  top: 15px;
  right: 15px;
  color: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #89ffd7;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}
.card__body {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.card__body__description h4 {
  font-size: 1em;
  margin: 0px 0px 5px 0px;
}
.card__body__description p {
  font-size: 1em;
}
.card__body .heart {
  position: relative;
  overflow: hidden;
  font-size: 1.2em;
}
.card__body .heart .fullfilled {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #9356DC;
  transition: all 200ms ease-in-out;
  opacity: 0;
  z-index: 998;
}
.card__body .heart .fullfilled:hover {
  opacity: 1;
}

.item {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  margin: 0px 0px 15px 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.item a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
}
.item a .item__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
  margin-right: -75px;
  transition: all 300ms ease-in-out;
}
.item a .item__body .item__description {
  width: 75%;
}
.item a .item__body .item__description h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  margin: 0px 0px 10px 0px;
}
.item a .item__body .item__description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
@media all and (min-width: 768px) {
  .item a .item__body .item__description p {
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.item a .item__body .item__price {
  margin-right: 15px;
  font-size: 0.9em;
  font-weight: bold;
}
.item a .item__checked {
  background-color: #99e2d0;
  padding: 25px;
  transform: translateX(75px);
  transition: all 300ms ease-in-out;
}
.item a .item__checked i {
  color: white;
  font-size: 1.5em;
  transition: all 350ms ease-in-out;
  transition-delay: 150ms;
}
.item a:hover .item__body {
  margin-right: 0px;
}
.item a:hover .item__checked {
  transform: translateX(0);
}
.item a:hover .item__checked i {
  transform: rotate(360deg);
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.container .load-spinner {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: z_index 3000ms ease-in-out both;
}
.container .load-spinner::after {
  position: absolute;
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  animation: background-div 3000ms forwards;
}
.container .load-spinner p {
  padding-block-start: 100px;
  text-align: center;
  margin: 0 auto;
  font-family: "Shrikhand", "cursive";
  font-size: 4em;
  color: #9356DC;
  transform-origin: center;
  animation: element 2250ms ease-in-out forwards alternate;
}

@keyframes background-div {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes z_index {
  0% {
    z-index: 999;
    visibility: visible;
  }
  99.9% {
    z-index: 999;
  }
  100% {
    z-index: -999;
  }
}
@keyframes element {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }
  95% {
    transform: scale(3);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.header-homepage__logo {
  text-align: center;
  padding: 25px 0px 10px 0px;
  box-shadow: 0px 1px 10px 0px grey;
  margin: 0px 0px 5px 0px;
}
.header-homepage__logo img {
  width: 150px;
}
.header-homepage__location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  background: #E5E5E5;
}
@media all and (min-width: 768px) {
  .header-homepage__location {
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
}
.header-homepage__location i {
  font-size: 1em;
  margin: 0px 15px 0px 0px;
}
.header-homepage__location__town {
  font-size: 1em;
}
.header-homepage__presentation {
  padding: 35px 25px 35px 25px;
  text-align: center;
  background: #f6f6f6;
}
@media all and (min-width: 768px) {
  .header-homepage__presentation {
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
}
.header-homepage__presentation__title {
  font-size: 1.5em;
  margin: 0px 0px 25px 0px;
  padding: 0px 30px 0px 30px;
}
.header-homepage__presentation__details {
  margin: 0px 0px 25px 0px;
  font-size: 1em;
}

.footer {
  background-color: #2c2c2c;
  padding: 35px 20px 35px 20px;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 1.2em;
  color: white;
  margin: 0px 0px 35px 0px;
}
@media all and (min-width: 768px) {
  .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer__menu__item {
  margin: 0px 0px 10px 0px;
}
.footer__menu__item a {
  display: flex;
  align-items: flex-end;
}
.footer__menu__item__icon {
  color: white;
  font-size: 1.1em;
  margin: 0px 10px 0px 0px;
}
.footer__menu__item__description {
  color: white;
  font-size: 0.9em;
}

.nav-menu {
  padding: 35px 20px 35px 20px;
}
@media all and (min-width: 768px) {
  .nav-menu {
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
}
@media all and (min-width: 992px) {
  .nav-menu {
    width: 30%;
    margin: unset;
  }
}
.nav-menu__title {
  font-size: 1.5em;
  margin: 0px 0px 25px 0px;
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}
.nav-menu__list__item {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: baseline;
  transition: all 200ms ease-in-out;
}
@media all and (min-width: 992px) {
  .nav-menu__list__item:hover {
    transform: scale(1.05);
  }
}
.nav-menu__list__item__number {
  font-size: 1em;
  color: white;
  background-color: #9356DC;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  z-index: 2;
}
.nav-menu__list__item__details {
  z-index: 1;
  width: 100%;
}
.nav-menu__list__item__details a {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  padding: 25px 25px 25px 35px;
  border-radius: 20px;
  margin: 0px 0px 35px -15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.nav-menu__list__item__details a i {
  color: grey;
  margin: 0px 25px 0px 0px;
  font-size: 1.3em;
}
.nav-menu__list__item__details a h4 {
  font-size: 1em;
  font-weight: bold;
}
.nav-menu__list__item__details :hover {
  background-color: #e4d5f6;
}
.nav-menu__list__item__details :hover i {
  color: #9356DC;
}

.restaurant-list {
  background-color: #f6f6f6;
  padding: 35px 20px 35px 20px;
}
@media all and (min-width: 768px) {
  .restaurant-list {
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
}
@media all and (min-width: 992px) {
  .restaurant-list {
    width: 60%;
    margin: unset;
  }
}
.restaurant-list__title {
  font-size: 1.5em;
  margin: 0px 0px 25px 0px;
}
.restaurant-list__card-group {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}
@media all and (min-width: 768px) {
  .restaurant-list__card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}
@media all and (min-width: 992px) {
  main {
    margin: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.menu-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
}
.menu-page a {
  margin: 0px 0px 0px 15px;
}
.menu-page .logo-img {
  width: 100%;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}
.restaurant-menu__image {
  height: 285px;
  width: 100%;
  z-index: -999;
}
.restaurant-menu__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  z-index: 999;
  margin-top: -50px;
  padding: 35px 20px 35px 20px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
}
.restaurant-menu__list__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 0px 25px 0px;
}
.restaurant-menu__list__title h1 {
  font-family: "Shrikhand";
  font-size: 1.5em;
}
.restaurant-menu__list__title .heart {
  position: relative;
  overflow: hidden;
  font-size: 1.2em;
}
.restaurant-menu__list__title .heart .fullfilled {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #9356DC;
  transition: all 200ms ease-in-out;
  opacity: 0;
  z-index: 998;
}
.restaurant-menu__list__title .heart .fullfilled:hover {
  opacity: 1;
}
@media all and (min-width: 992px) {
  .restaurant-menu__list__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.restaurant-menu__list__starter {
  margin: 0px 0px 25px 0px;
}
@media all and (min-width: 992px) {
  .restaurant-menu__list__starter {
    width: 30%;
  }
}
.restaurant-menu__list__starter__title {
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0px 0px 2px 0px;
  margin: 0px 0px 25px 0px;
}
.restaurant-menu__list__starter__title span {
  border-bottom: 3px #99e2d0 solid;
  padding: 0px 0px 2px 0px;
}
.restaurant-menu__list__main-course {
  margin: 0px 0px 25px 0px;
}
@media all and (min-width: 992px) {
  .restaurant-menu__list__main-course {
    width: 30%;
  }
}
.restaurant-menu__list__main-course__title {
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0px 0px 2px 0px;
  margin: 0px 0px 25px 0px;
}
.restaurant-menu__list__main-course__title span {
  border-bottom: 3px #99e2d0 solid;
  padding: 0px 0px 2px 0px;
}
.restaurant-menu__list__dessert {
  margin: 0px 0px 25px 0px;
}
@media all and (min-width: 992px) {
  .restaurant-menu__list__dessert {
    width: 30%;
  }
}
.restaurant-menu__list__dessert__title {
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0px 0px 2px 0px;
  margin: 0px 0px 25px 0px;
}
.restaurant-menu__list__dessert__title span {
  border-bottom: 3px #99e2d0 solid;
  padding: 0px 0px 2px 0px;
}
.restaurant-menu__list__button {
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.item {
  animation: item 300ms ease-in-out both;
}
.item--1 {
  animation-delay: 150ms;
}
.item--2 {
  animation-delay: 300ms;
}
.item--3 {
  animation-delay: 450ms;
}
.item--4 {
  animation-delay: 600ms;
}
.item--5 {
  animation-delay: 750ms;
}
.item--6 {
  animation-delay: 900ms;
}
.item--7 {
  animation-delay: 1050ms;
}
.item--8 {
  animation-delay: 1200ms;
}
.item--9 {
  animation-delay: 1350ms;
}
.item--10 {
  animation-delay: 1500ms;
}

@keyframes item {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
