/**police**/
/**color**/
/**box-shadow**/
/**border-radius**/
/**title font size**/
/**button**/
/**header css value**/
/*logo*/
/*location*/
/*presentation*/
/*nav menu*/
/*title*/
/*items*/
/**restaurant**/
/*title*/
/*card*/
/*border*/
/*.border {
	border: 3px solid black;
    margin: 1px;
}

.red {
    border-color: red;
}

.green {
    border-color: green;
}

.blue {
    border-color: blue;
}

.orange {
    border-color:orange;
}

.magenta {
    border-color: darkmagenta;
}
*/
/*--main style--*/
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "cursive";
}

.header-homepage button {
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  padding: 15px 20px 15px 20px;
}

.restaurant-list__card {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 0px 0px 25px 0px;
  overflow: hidden;
}
.restaurant-list__card__image {
  height: 225px;
}
.restaurant-list__card__image__button {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #77bb77;
  background-color: #cce6cc;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
}
.restaurant-list__card__image img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurant-list__card__body {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.restaurant-list__card__body h4 {
  font-size: 1em;
  margin: 0px 0px 10px 0px;
}
.restaurant-list__card__body p {
  font-size: 1em;
}

.header-homepage__logo {
  text-align: center;
  padding: 25px 0px 10px 0px;
  box-shadow: 0px 1px 10px 0px grey;
  margin: 0px 0px 5px 0px;
}
.header-homepage__logo img {
  width: 150px;
}

.nav-menu {
  padding: 35px 20px 35px 20px;
}
.nav-menu__title {
  font-size: 1.5em;
  margin: 0px 0px 25px 0px;
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
}
.nav-menu__list__item {
  display: flex;
  align-items: baseline;
}
.nav-menu__list__item__number {
  font-size: 1em;
  color: white;
  background-color: #9356DC;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  z-index: 2;
}
.nav-menu__list__item__details {
  z-index: 1;
  width: 100%;
}
.nav-menu__list__item__details a {
  display: flex;
  align-items: center;
  padding: 25px 25px 25px 35px;
  border-radius: 20px;
  margin: 0px 0px 35px -15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.nav-menu__list__item__details a i {
  color: grey;
  margin: 0px 25px 0px 0px;
  font-size: 1.3em;
}
.nav-menu__list__item__details a h4 {
  font-size: 1em;
  font-weight: bold;
}
.nav-menu__list__item__details :hover {
  background-color: #e4d5f6;
}
.nav-menu__list__item__details :hover i {
  color: #9356DC;
}

.header-homepage__location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  background-color: #E5E5E5;
}
.header-homepage__location i {
  font-size: 1em;
  margin: 0px 15px 0px 0px;
}
.header-homepage__location__town {
  font-size: 1em;
}

.header-homepage__presentation {
  padding: 35px 25px 35px 25px;
  text-align: center;
  background-color: #f7f7f7;
}
.header-homepage__presentation__title {
  font-size: 1.5em;
  margin: 0px 0px 25px 0px;
  padding: 0px 30px 0px 30px;
}
.header-homepage__presentation__details {
  margin: 0px 0px 25px 0px;
  font-size: 1em;
}

.restaurant-list {
  background-color: #f7f7f7;
  padding: 35px 20px 35px 20px;
}
.restaurant-list__title {
  font-size: 1.5em;
  margin: 0px 0px 25px 0px;
}

/*# sourceMappingURL=style.css.map */
