.header-homepage {
    &__logo {
        text-align: $header__logo-text-align ;
        padding: $header__logo-padding ;
        box-shadow: $header__logo-shadow;
        margin: $header__logo-margin ;
        img {
            width: $header__logo-img-size ;
        }
    }
}