

.nav-menu {
    padding: 35px 20px 35px 20px ;
    @include desktop-only {
        background-color: white;
        width: 30%;
        border-radius: 15px;
        box-shadow: $box-shadow-default;
    }
    &__title {
        font-size: $title-font-size;
        margin: $title-margin-default;
    }
    &__list{
        @include flex(column) ;
        &__item {
            @include flex(row, initial, baseline) ;
            &__number {
                font-size: 1em ;
                color: white ;
                background-color: $colour-primary;
                padding: 5px 10px 5px 10px ;
                border-radius: 50%;
                z-index: 2;
            }
            &__details {
                z-index: 1;
                width: 100% ;
                a {
                    @include flex (row, initial, center) ;
                    padding: 25px 25px 25px 35px;
                    border-radius: $border-radius-default;
                    margin : 0px 0px 35px -15px;            
                    box-shadow: $box-shadow-default;
                    i {
                        color : $colour-quaternary ;
                        margin: 0px 25px 0px 0px;
                        font-size: 1.3em;
                    }
                    h4 {
                        font-size: 1em;
                        font-weight: bold ;
                    }
                }
                :hover {
                    background-color: lighten($colour-primary, 30%);
                    i {
                        color: $colour-primary ;
                    }
                }
            }
        }
    }
    
}
