.nav-menu {
    padding: $nav-menu-padding;
    &__title {
        font-size: $nav-menu__title-font-size;
        margin: $nav-menu__title-margin;
    }
    &__list{
        @include flex-direction-column ;
        &__item {
            @include flex-align-items-baseline ;
            &__number {
                font-size: $nav-menu__list__item__number-font-size ;
                color: $nav-menu__list__item__number-color ;
                background-color: $nav-menu__list__item__number-background-color;
                padding: $nav-menu__list__item__number-padding ;
                border-radius: $nav-menu__list__item__number-border-radius;
                z-index: $nav-menu__list__item__number-z-index;
            }
            &__details {
                z-index: $nav-menu__list__item__details-z-index;
                width: $nav-menu__list__item__details-width ;
                a {
                    @include flex-align-items-center ;
                    padding: $nav-menu__list__item__details_a-padding;
                    border-radius: $nav-menu__list__item__details_a-border-radius;
                    margin : $nav-menu__list__item__details_a-margin;            
                    box-shadow: $nav-menu__list__item__details_a-box-shadow;
                    i {
                        color : $nav-menu__list__item__details_a_icon-color ;
                        margin: $nav-menu__list__item__details_a_icon-margin;
                        font-size: $nav-menu__list__item__details_a_icon-font-size;
                    }
                    h4 {
                        font-size: $nav-menu__list__item__details_a_title-font-size;
                        font-weight: $nav-menu__list__item__details_a_title-font-weight ;
                    }
                }
                :hover {
                    background-color: $nav-menu__list__item__details_a_hover-background-color;
                    i {
                        color: $nav-menu__list__item__details_a_hover_icon-color ;
                    }
                }
            }
        }
    }
    
}
