.card {
    @include card ;
    &__image {
        @include card__image ;
        &__button {
            @include card__button ;
        }
        img {
            @include img-position ;
            object-position: 50% 60%;
        }
    }
    &__body {
        padding: 15px;
        @include flex (row, space-between, baseline) ;
        &__description {
            h4 {
                font-size: 1em;
                margin: 0px 0px 5px 0px;
            }
            p {
                font-size: 1em;
            }
        }
        .heart {
            @include heart__position ;
            .fullfilled {
                @include heart__fullfilled ;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}