.restaurant-list__card {
    position: relative;
    margin: $restaurant-list__card-margin;
    &__main {
        overflow: hidden;
        background-color: $restaurant-list__card__main-background-color;
        border-radius: $restaurant-list__card__main-border-radius;
        box-shadow: $restaurant-list__card__main-box-shadow;
        &__image {
            position: relative;
            height: $restaurant-list__card__main__image-height;
            &__button {
                position: absolute;
                font-weight: bold;
                top: $restaurant-list__card__main__image__button-top ;
                right: $restaurant-list__card__main__image__button-right ;
                color :$restaurant-list__card__main__image__button-color ;
                padding: $restaurant-list__card__main__image__button-padding ;
                border-radius: $restaurant-list__card__main__image__button-color ;
                font-size: $restaurant-list__card__main__image__button-font-size ;
                background-color : $restaurant-list__card__main__image__button-background-color ;
            }
            img {
                object-fit: cover;
                box-sizing: border-box;
                width: $restaurant-list__card__main__image__img-width ;
                height: $restaurant-list__card__main__image__img-height ;
                object-position: $restaurant-list__card__main__image__img-object-position ;               
            }
        }
        &__body {
            padding: $restaurant-list__card__main__body-padding ;
            h4 {
                font-size: $restaurant-list__card__main__body__title--font-size ;
                margin: $restaurant-list__card__main__body__title--margin ;
            }
            p {
                font-size: $restaurant-list__card__main__body__description--font-size ;
            }
        }      
    }
    &__heart {
        position: absolute ;
        bottom: 35px;
        right: 25px;
        &__empty {
            font-size: 1.5em;
        }
        &__fullfilled{
            position: absolute;
            top: -1.5px;
            left: 0px;
            font-size: 1.5em;
            i {
                color: $colour-primary;
                opacity: 0;
            }
            :hover {
                opacity: unset;
            }
        }
    }
}