.container {
    position: relative;
    height: 100%;
    width: 100%;
    .load-spinner {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        animation: z_index 3000ms ease-in-out both;
        &::after {
            position: absolute;
            content: "";
            background: black;
            width: 100%;
            height: 100%;
            animation: background-div 3000ms  forwards;
        }
        p {
            padding-top: 200px;
            text-align: center;
            margin : 0 auto ;
            font-family: "Shrikhand", "cursive";
            font-size: 3.5em;
            color: #9356DC;
            transform-origin: center;
            animation: element 1000ms 3 ease-in-out forwards alternate ;
        }
        
    }
}


@keyframes background-div {
    0% {
        opacity: 0.5;
    } 
    98%{
        opacity: 0.1;
    }  
    100% {
        opacity: 0;
    }
}

@keyframes z_index {
    0% {
        z-index: 999;
        visibility: visible;
    }   
    99.9% {
        z-index: 999;
    }
    100% {
        z-index: -999;
    }
}

@keyframes element {
    0%,
    50%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 1;
    }
}