.container {
    position: relative;
    height: 100%;
    width: 100%;
    .load-spinner {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        animation: z_index 3000ms ease-in-out both;
        &::after {
            position: absolute;
            content: "";
            background: black;
            width: 100%;
            height: 100%;
            animation: background-div 3000ms  forwards;
        }
        p {
            padding-block-start: 100px ;
            text-align: center;
            margin : 0 auto ;
            font-family: "Shrikhand", "cursive";
            font-size: 4em;
            color: #9356DC;
            transform-origin: center;
            animation: element 2250ms ease-in-out forwards alternate ;
        }
        
    }
}


@keyframes background-div {
    0% {
        opacity: 0.5;
    }   
    100% {
        opacity: 0;
    }
}

@keyframes z_index {
    0% {
        z-index: 999;
        visibility: visible;
    }   
    99.9% {
        z-index: 999;
    }
    100% {
        z-index: -999;
    }
}

@keyframes element {
    0% {
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
    }
    75%{
        transform: scale(1);
    }
    95% {
        transform: scale(3);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}