
main {
    @include flex(column) ;
    @include desktop-only {
        margin: 15px ;
       @include flex (row-reverse, space-between, flex-start) ;
    }
    .restaurant-list {
        background-color: $colour-background-secondary ;
        padding : 35px 20px 35px 20px ;
        @include responsive {
            background-color: white;
            margin : 15px ;
            border-radius: 15px ;
            box-shadow: $box-shadow-default ;
        }
        @include desktop-only {
            width: 60%;
            margin: unset;
        }
        &__title {
            font-size: $title-font-size;
            margin: $title-margin-default;
        }
        &__card-group {
            @include flex (column) ;
            @include responsive {
                @include flex (row, space-evenly, center) ;
                flex-wrap: wrap ;
            } 
        }
    }
}




