.header-homepage__location {
    display: flex;
    align-items :center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    background : $colour-background-primary ;
    i {
        font-size: 1em ;
        margin: 0px 15px 0px 0px ;
    }
    &__town {
        font-size: 1em;
    }
}


.header-homepage__presentation {
    padding: 35px 25px 35px 25px;
    text-align: center;
    background : $colour-background-secondary;
    &__title {
        font-size: $title-font-size;
        margin: $title-margin-default;
        padding: 0px 30px 0px 30px ;
    }
    &__details {
        margin: 0px 0px 25px 0px;
        font-size: 1em;
    }
}

.restaurant-list {
    background-color: $colour-background-secondary ;
    padding : 35px 20px 35px 20px ;
    &__title {
        font-size: $title-font-size;
        margin: $title-margin-default;
    }
}

main {
    display: flex;
    flex-direction: column;
    @media all and (min-width : 992px) {
        flex-direction: row-reverse;
    }
}