.header-homepage__location {
    display: flex;
    align-items :center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    background-color : $header__location-background-color ;
    i {
        font-size: $header__location-icon-font-size ;
        margin: $header__location-icon-margin ;
    }
    &__town {
        font-size: $header__location__town-font-size;
    }
}

.header-homepage__presentation {
    padding: $header__presentation-padding;
    text-align: $header__presentation-text-align;
    background-color: $header__presentation-background-color;
    &__title {
        font-size: $header__presentation__title-font-size;
        margin: $header__presentation__title-margin;
        padding: $header__presentation__title-padding ;
    }
    &__details {
        margin: $header__presentation__details-margin;
        font-size: $header__presentation__details-font-size;
    }
}

.restaurant-list {
    background-color: $restaurant-list-background-color ;
    padding : $restaurant-list-padding ;
    &__title {
        font-size: $restaurant-list__title-font-size;
        margin: $restaurant-list__title-margin;
    }
}