.menu-page {
    @include flex(row, center) ;
    a {
        margin: 0px 0px 0px 15px;
    }
    .logo-img {
        width: 100%;
    }
}

.restaurant-menu {
    @include flex (column) ;
    &__image {
        height: $restaurant-list__card__main__image-height*1.5;
        width: 100%;
        z-index: -999 ;
        img {
            @include img-position ;
        }
    }
    &__list {
        @include flex (column) ;
        z-index: 999;
        margin-top: -50px;
        padding: $title--padding;
        border-radius: 50px 50px 0px 0px;
        background-color: $colour-background-secondary;
        &__title {
            @include flex (row, space-between, baseline) ;
            margin: $title-margin-default;
            h1 {
                font-family: $policeTitre;
                font-size: $title-font-size;
            }
            .heart {
                @include heart__position ;
                .fullfilled {
                    @include heart__fullfilled ;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        &__items {
            @include desktop-only {
                @include flex (row, space-between, flex-start) ;
                flex-wrap: wrap;
            }
        }
        &__starter {
            margin: $title-margin-default;
            @include desktop-only {
                width: 30% ;
            }
            &__title {
                @include menu__title ;
                span {
                    @include underlined ;
                }
            }
        }
        &__main-course {
            margin: $title-margin-default;
            @include desktop-only {
                width: 30% ;
            }
            &__title {
                @include menu__title ;
                span {
                    @include underlined ;
                }
            }
        }
        &__dessert {
            margin: $title-margin-default;
            @include desktop-only {
                width: 30% ;
            }
            &__title {
                @include menu__title ;
                span {
                    @include underlined ;
                }
            }
        }
        &__button {
            margin : 50px 0px 50px 0px ;
            text-align: center ;
        }

    }    
}
