/***police***/
$policeTexte : "Roboto" ;
$policeTitre : "Shrikhand" ;
/***color***/
$colour-primary : #9356DC ;
$colour-secondary : #FF79DA ;
$colour-tertiary : #99E2D0 ;
$colour-quaternary : grey ;
$colour-background-primary : #E5E5E5 ;
$colour-background-secondary : #f6f6f6 ; 
/***box-shadow***/
$box-shadow-default : 0px 0px 10px 0px rgba(0,0,0,0.3);
/***border-radius***/
$border-radius-default : 20px ; 
/***title padding***/
$title--padding : 35px 20px 35px 20px ;
/***title font size***/
$title-font-size : 1.5em ;
$title-margin-default : 0px 0px 25px 0px ;